<div class="new-article-form">
  <h1>New Article</h1>
  <div>
    <label>Enter article title:</label><br>
    <input #newTitle><br><br>
    <label>Enter teaser for display:</label><br>
    <input #newTeaser><br><br>
    <label>Enter authors name:</label><br>
    <input #newAuthor><br><br>
    <label>Enter article body:</label><br>
    <input #newBody><br><br>
    <label>Please enter image url, or feel free to use the url below and we will pick a random picture for you:<em> http://lorempixel.com/400/200</em></label><br>
    <input #newUrl><br><br>
    <button (click)="submitForm(newTitle.value, newTeaser.value, newAuthor.value, newBody.value, newUrl.value); newTitle.value=''; newTeaser.value=''; newAuthor.value=''; newBody.value=''; newUrl.value=''; ">Add</button>
  </div>
</div>
