<div class="new-article-form">
  <h1>New Article</h1>
  <div>
    <label>Enter article title:</label><br>
    <input #newTitle><br><br>
    <label>Enter teaser for display:</label><br>
    <input #newTeaser><br><br>
    <label>Enter authors name:</label><br>
    <input #newAuthor><br><br>
    <label>Enter article body:</label><br>
    <input #newBody><br><br>
    <label>Please enter 0 for view count:</label><br>
    <input #newViews><br><br>
    <label>Please enter image url, here is an example:<em> https://www.askideas.com/media/12/I-Just-Like-To-Smile-Funny-Random-Funny-Random.jpg</em></label><br>
    <input #newUrl><br><br>
    <button (click)="submitForm(newTitle.value, newTeaser.value, newAuthor.value, newBody.value, newViews.value, newUrl.value); newTitle.value=''; newTeaser.value=''; newAuthor.value=''; newBody.value=''; newViews.value=''; newUrl.value=''; ">Add</button>
  </div>
</div>
